html {
    scroll-padding-top: 100px;
}

body {
    /* height: 100vh; */
    background-image: radial-gradient(circle at 1px 1px, rgba(128, 128, 128, 0.2) 1px, transparent 0);
    background-size: 25px 25px;
    scroll-behavior: smooth;
    /* height of sticky header */

}



#go-top-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: opacity 0.2s ease-in-out;
}

.floating-input-label {
    color: rgb(110, 110, 110);
}

.invalid-feedback {
    opacity: 0;
    display: inline-block;
}

.input-group.has-validation:has(input.is-invalid)>.invalid-feedback {
    opacity: 1;
}

.card {
    box-shadow: 0 0 10px 5px #0d6efd44;
}

.form-switch {
    padding-left: 0;
}

#ligt-switch-container {
    margin-right: 2rem;
}

#vertical-separator {
    display: none;
}

#list-sections {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    #ligt-switch-container {
        position: fixed;
        top: 115px;
        right: 0px;
    }

    #horizontal-separator {
        display: none;
    }

    #vertical-separator {
        display: inline-block;
    }

    #list-sections {
        margin-top: 0;
    }

}