html {
    scroll-padding-top: 100px;
}

:root {
    --font-size: 16;
    font-size: calc(var(--font-size) * 1px);
}

body {
    /* height: 100vh; */
    background-image: radial-gradient(circle at 1px 1px, rgba(128, 128, 128, 0.2) 1px, transparent 0);
    background-size: 25px 25px;
    scroll-behavior: smooth;
    /* height of sticky header */

}

html {
    max-width: 100%;
    overflow-x: hidden !important;
}



#go-top-button {
    position: fixed;
    bottom: 32px;
    right: 32px;
    transition: opacity 0.2s ease-in-out;
}

.floating-input-label {
    color: rgb(110, 110, 110);
}

.invalid-feedback {
    opacity: 0;
    display: inline-block;
}

.input-group.has-validation:has(input.is-invalid)>.invalid-feedback {
    opacity: 1;
}

.card {
    box-shadow: 0 0 10px 5px #0d6efd44;
}

.form-switch {
    padding-left: 0;
}

#ligt-switch-container,
#font-size-container {
    margin-right: 2rem;
}

#vertical-separator {
    display: none;
}

#list-sections {
    margin-top: 1rem;
}

.nav-pills .nav-link.dark {
    font-weight: 600;
    color: rgb(37, 139, 248);
}

.nav-pills .nav-link.light {
    font-weight: 600;
    color: rgb(13, 107, 244);
}

.nav-pills .nav-link.active {
    color: white;
}



@media (min-width: 992px) {

    #ligt-switch-container {
        position: fixed;
        top: 7.5rem;
        right: 0rem;
    }

    #font-size-container {
        position: fixed;
        top: 6.8rem;
        right: 100px;
    }

    #horizontal-separator {
        display: none;
    }

    #vertical-separator {
        display: inline-block;
    }

    #list-sections {
        margin-top: 0;
    }

}

.dropdown-center>.dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.font-size-menu>button:hover {
    color: white;
}

.font-size-menu>button {
    color: rgb(230, 230, 230);
    background-color: transparent;
    border: none;
}

#font-size-container>a {
    text-decoration: none;
}

/* 
#font-size-container .dropdown-menu li {
    width: fit-content;

}

#font-size-container .dropdown-menu ul {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 1fr;

} */